body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 800px;
    width: 100%;
}
.row-item {
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: move;
}
.form-control {
    margin: 0 2px;
}
.btn, .drag-handle, .form-control {
    height: 38px; /* 使所有元素高度一致 */
}
.drag-handle {
    cursor: move;
    display: inline-block;
    padding: 0px;
    margin: 0 6px 0 2px;
    background: #ccc;
    text-align: center;
    line-height: 38px; /* 使图标垂直居中 */
}
.bb{
    width: 4%;
}
.cc{
    width: 15%;
}
.dd{
    width: 66%
}
.ee{
    width: 9%;
}
.ff{
    width: 5%;
}