body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 800px;
    width: 100%;
}
.row-item {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    cursor: move;
}
.form-control {
    margin: 0 5px;
}
.btn, .drag-handle, .form-control {
    height: 38px; /* 使所有元素高度一致 */
}
.drag-handle {
    cursor: move;
    display: inline-block;
    padding: 0 10px;
    background: #ccc;
    text-align: center;
    line-height: 38px; /* 使图标垂直居中 */
}